!!! 5
%html
  %head
    %title #{meta::NAME} :: Plugins List
    %link(rel="stylesheet" href="/style.css")
    %script(type='text/javascript' src='/jquery-1.7.2.min.js')
    %script(type='text/javascript' src='/list.js')

  %body
    #header
      %h1 Plugins List

    #list
      - list.each do |idx|
        %b #{idx.keys.first}:
        %ul
          - idx[idx.keys.first].each do |file|
            %li
              %span= file

    #plugin
      %h2 Plugin Info
      %form
        %p
          Additional options:
          %input(type='text' name='opts')

      #info
        (Click on any link from the left.)
          
    #footer
      %hr/
      .footer
        %a{href: url("#{meta::HOMEPAGE}")} #{meta::NAME}
        \#{meta::VERSION}
        - if ENV["COMMIT_HASH"]
          %br/
          Commit hash: #{ENV["COMMIT_HASH"]}
